body {
    font-family: "Fira Sans", sans-serif;
}
:root {
    --white: #f7f7f7;
    --black: #100303;
    --color: #FF3F3F;
}

a { 
    color: var(--color);
}

h1 {
    font-weight: normal;
    margin-top: 0;
    font-size: 1.75em;
}

h2 {
    font-weight: 500;
    margin: 0.75em 0 0.25em;
}

h3 {
    font-weight: 500;
    margin: 0.75em 0 0.25em;
}

p {
    margin: 0.5em 0 0.5em;
}

body {
    font-size: 14pt;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: var(--vh);
}

#main {
    background-color: var(--white);
    color: var(--black);
    width: 50em;
    min-width: min-content;
    max-width: 100%;
    text-align: start;
    box-shadow: 0 0 0.5em var(--color);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#pagehead {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color);
    color: var(--white);
    text-shadow: var(--black);
    padding: 0.4em;
    box-shadow: 0 0 0.5em var(--color);
    flex-grow: 0;
    font-weight: 300;
    letter-spacing: -3px;
}

#pagehead span {
    font-size: 40pt;
}

#pagehead .link a {
    color: var(--white);
    padding: 0 10px 0 10px;
    text-decoration: none;
}

#page {
    padding: 1em; 
    padding-bottom: 0;
    flex-grow: 2;
}

#toc > ol {
    padding: 0;
}

#toc a {
    text-decoration: none;
}

table {
    background-color: var(--black);
    margin: auto;
    margin-bottom: 1em;
    padding:1px;
    border-radius: 1.5px;
    box-shadow: 0 0 0.5em var(--color);
}

td {
    background-color: var(--white);
}

th {
    background-color: var(--color);
    color: var(--white);
    font-weight: normal;
}

td, th, caption {
    padding: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    text-align: center;
    min-width: 1em;
}

.caption {
    background-color: var(--black);
    color: var(--white);
}

b {
    font-weight: normal;
    color: var(--color);
}

hr {
    color: var(--color);
    margin: 1em 0 0 0
}

#footer {
    text-align: center;
    font-size: 0.8em;
    margin: 1em;
    justify-self: self-end;
    flex-grow: 0;
    margin-bottom: -1em;
}

button {
    font-size: 1em;
    background-color: var(--color);
    color: var(--white);
    border: none;
    padding: 0.2em 0.4em;
    box-shadow: 0 0 0.5em var(--color);
    border-radius: 1.5px;
    transition: filter 0.1s;
}

button:hover {
    filter: brightness(85%);
}

button:active {
    filter: brightness(80%) contrast(120%);
}

::selection {
    color: var(--white);
    background: var(--color);
}

::-webkit-scrollbar {
    width: min-content;
}

::-webkit-scrollbar-track {
    background: var(--white);
}

::-webkit-scrollbar-thumb {
    background: var(--color);
}

sub, sup {
    font-size: 0.7em;
}

#error {
    color: var(--color);
}

code {
    font-family: 'Fira Mono', monospace;
    font-size: 0.9em;
    background: rgb(221, 221, 221);
    padding: 1px 5px;
    border-radius: 5px 
}


/* thanks astro for this css :) */